@use 'sass:map';
@import 'styles/Pages/theme.scss';

.footer {
    background-color: #f3f6fa;
    padding-top: 70px;
    padding-bottom: 0;
    .footer__about {
        margin-bottom: 30px;

        .footer__about__logo {
            margin-bottom: 15px;
            display: block;
        }
        ul li {
            font-size: 16px;
            color: map-get($theme-colors, 'normal-text');
            line-height: 36px;
            list-style: none;
        }
    }
    .footer__widget {
        margin-bottom: 30px;
        overflow: hidden;

        h4 {
            color: map-get($theme-colors, 'normal-text');
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 700;
        }
        ul {
            float: left;
            width: 50%;
            li {
                list-style: none;
                border-radius: 40%;
                :hover {
                    background-color: map-get($theme-colors, 'main');
                    color: #ffffff;
                    border-color: #ffffff;
                }
                a {
                    color: map-get($theme-colors, 'normal-text');
                    font-size: 14px;
                    line-height: 32px;
                    text-decoration: none;
                }
            }
        }
    }
    p {
        font-size: 14px;
        margin-bottom: 30px;
        color: map-get($theme-colors, 'normal-text');
        margin-top: 11px;
    }
    form {
        margin-bottom: 30px;
        .input-group {
            display: flex;
            align-items: center;
            input {
                width: 100%;
                font-size: 16px;
                padding-left: 20px;
                color: map-get($theme-colors, 'normal-text');
                height: 46px;
                border: 1px solid #ededed;
                ::placeholder {
                    color: map-get($theme-colors, 'normal-text');
                }
            }
            button {
                padding: 0 26px;
                height: 46px;
                min-width: max-content;
            }
        }
    }
}
.child {
    height: 190px;
}
.social {
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-top: 25px;
    div {
        :hover {
            background-color: map-get($theme-colors, 'main');
            color: #ffffff;
            border-color: #ffffff;
        }
        svg {
            font-size: 38px;
            padding: 7px;
            color: #404040;
            border: 1px solid #ededed;
            border-radius: 50%;
            transition: all 0.3s;
            background: #ffffff;
            cursor: pointer;
        }
    }
}
