@use 'sass:map';
@import 'theme.scss';
@import 'responsive.scss';
html,
body {
    margin: 0;
}
* {
    font-family: Roboto;
    padding: 0;
    margin: 0;
}
.header-container {
    max-width: 1170px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    //background: map-get($theme-colors, main);
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.button-submit {
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    padding: 16px 30px 17px;
    background-color: map-get($theme-colors, 'main');
    border: none;
    height: 100%;
}
@include Responsive($MEDIUM_DEVICE) {
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@include Responsive($DESKTOP) {
    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@include Responsive($SMALL_DEVICES) {
}
